img.weatherIcon {
    width: 250px;
    height: 250px;
    padding: 10px 10px;
    
}

img.weekIcon {
    width: 75px;
    height: 75px;
    padding: 10px 10px;
}

.temp {
    text-align: center;
    font-size: 80px;
}